/**************************************************
                    General
 *************************************************/

/********** WEB **********/

.clear-fix-web{
    display: block;
    visibility: hidden;
    clear: both;
}

/********** END WEB **********/

/********** PDF **********/

.clear-fix-pdf {
    display: none;
    clear: both;
    height: 0;
}

.paging {
    page-break-after: always;
}

/********** END PDF **********/

/**************************************************
                    Header
 *************************************************/

/********** ALL **********/
.logo-header{
    text-align: center;
}

.area-image{
    text-align: center;
}
/********** END ALL **********/

/*************************************************
                        Properties
 *************************************************/

/* *** ALL ***** */

.property-container{
    width: 100%;
}
.property-container .property-booking {
    width: 100%;
    float: left;
}
.property-container .property-image{
    width: 50%;
}

.property-container .even .property-image{
    float: right;
}

.property-container .odd .property-image{
    float: left;
}
.property-container .property-details p{
    margin: 0;
}

.property-container .odd .property-details{
    float: left;
    text-align: left;
    padding-left: 20px;
}
.property-container .even .property-details{
    float: right;
    text-align: right;
    padding-right: 20px;
}

/**** END ALL *****/

/******  WEB ******/
.property-booking-web .property-details{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
}
/******** END WEB *****/

/******** PDF ********/

.property-booking-pdf .property-details{
    width: 45%;
}

/****** END PDF *****/


/*************************************************
                        Contact Banner
 *************************************************/

.contact-banner{
    height: 124px;
    background-color: #280929;
}

.contact-banner .maleta {
    float: left;
    text-align: right;
    width: 30%;
}

.contact-banner .subtitle {
    color: #FFF;
    padding-top: 30px;
    float: left;
    width: 40%;
    text-align: center;

}
.contact-banner .subtitle span {
    font-weight: bold;
}

.container-tg {
    width: 900px;
    margin: 0 auto;
    font-size: 12px;
    letter-spacing: -0.5px;
}

/*************************************************
                        Publicity
 *************************************************/

/***** ALL ******/

.publicity-container {
    display: block;
    width: 100%;
    padding-top: 30px;
}

.publicity-container  h3 {
    text-align: center;
}

.publicity-container .bussiness_type_container {
    width: 50%;
    float: left;
}

.publicity-container .bussiness_type-40 {
    width: 100%;
}

.publicity-container .bussiness_type_container .publicity-element {
    width: 50%;
    padding: 0 10px;
    float: left;
    line-height: 1.5em;
    margin-bottom: 15px;
}

.publicity-container .bussiness_type-40 .publicity-element {
    width: 25%;
}

.publicity-container .bussiness_type_container h4{
    border-bottom: 1px solid;
    padding-bottom: 5px;
}

/***** END ALL ******/

/*************************************************
                        Location
 *************************************************/

/************ ALL **********/

.header-location .subtitle {
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 40px;
}

.banner-location{
    height: 156px;
}

/************ END ALL **********/

/*************************************************
                        Footer
 *************************************************/

.footer-guide {
    background-color: #D3CACB;
}
